* {
    box-sizing: border-box;
}

header {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.815);
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}


/****************************************************/


/*Font Fomart*/

a {
    text-decoration: none;
}

h1 {
    color: red;
    text-decoration: none;
}

h5 {
    color: green;
    text-decoration: none;
}


/****************************************************/


/*NAVIGATION*/

.logo {
    float: left;
    height: 55px;
}

.nav-warper {
    display: inline-block;
    width: 100%;
    background-color: #262626;
    text-align: center;
}

.nav-container {
    display: inline-block;
    width: 80em;
    background-color: #262626;
    text-align: center;
}

nav {
    display: block;
    width: 100%;
    text-align: right;
}

nav ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    position: relative;
}

nav ul li:hover {
    background-color: gray;
    transition: 0.5s ease;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}


/*DROP DOWN*/

.dropdown {
    visibility: hidden;
    position: absolute;
    display: none;
    margin-top: 20px;
    background-color: #262626;
    left: 0;
    margin-left: 0;
}

.dropdown li {
    width: 100%;
    text-align: center;
}

.nav-container nav ul li:hover .dropdown {
    visibility: visible;
    display: block;
}


/*fix dropdown deo hien thi nhung ma chua thanh cong,
chac se thay the bang megadropdown*/

.nav.nav-container nav ul li:hover .zoom-image-border {
    overflow: visible;
}

.dropdown:hover .zoom-image-border {
    overflow: visible;
}


/****************************************************/


/*clear dinh dang*/

.clearrow::after {
    content: "";
    display: table;
    clear: both;
}

.body-warper {
    display: inline-block;
    width: 100%;
    background-color: white;
    text-align: center;
}

.body-container {
    display: inline-block;
    width: 80em;
    background-color: white;
}


/****************************************************/

.width-100 {
    display: block;
    width: 100%;
}

.card {
    display: block;
}


/*anh hien thi co hieu ung*/

.zoom-image-border {
    width: 100%;
    height: 35em;
    overflow: hidden;
}

.zoom-image {
    width: 100%;
    height: 35em;
    transition: 0.2s;
}

.zoom-image:hover {
    transform: scale(1.1);
}

.image-title {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    bottom: 10em;
    padding: 20px;
    text-align: left;
}


/****************************************************/

.width-75 {
    display: block;
    float: left;
    width: 65%;
}


/*card-inline*/

.card-inline-75 {
    display: block;
    width: 100%;
    height: 12em;
    margin-top: 40px;
}


/*CONTENT*/

.column75-70 {
    width: 60%;
    height: 100%;
    color: white;
    float: right;
    margin: 0;
    padding: 0;
    padding-left: 14px;
    text-align: left;
}


/*IMAGE*/

.column75-30 {
    width: 40%;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.zoom-image-border-75 {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.zoom-image-75 {
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.zoom-image-75:hover {
    transform: scale(1.1);
}


/****************************************************/

.width-25 {
    display: inline-block;
    width: 35%;
}


/*CARD INLINE cho 25*/

.card-inline-25 {
    display: block;
    width: 100%;
    height: 8em;
    margin-top: 40px;
}


/*CONTENT*/

.column25-70 {
    width: 60%;
    height: 100%;
    float: right;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    text-align: left;
    font-size: 10px;
}


/*IMAGE*/

.column25-30 {
    width: 40%;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.zoom-image-border-25 {
    width: 100%;
    height: 8em;
    position: relative;
    overflow: hidden;
}

.zoom-image-25 {
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.zoom-image-25:hover {
    transform: scale(1.1);
}


/****************************************************/


/*FOOTER*/

.footer-wraper {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.footer-container {
    width: 70em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-column {
    width: 100%;
    display: inline-block;
}